/* *{ */
    /* outline: solid 1px red; */

/* }  */

body,html{
    padding:0;
    margin:0;
    height:100vh;
    width: 100vw;
    overflow:auto;
    background-color: rgb(189, 216, 216);
    color:hsl(208, 27%, 37%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    justify-content: center;
}

#full-page{
    display: flex;
    flex-flow: column;
    max-height:90%;
    /* align-items: center; */
    justify-content:space-between;
    /* flex: 0 1 0; */
    
    
}
#header{
/* display:flex; */
/* align-items: center; */
/* justify-content: center; */
/* flex: 0 1 0; */


}
 h1{
    margin: 1em 0 0 0;
    font-size: 30px;
    flex: 0 1 0;
    width: 4vw;
    align-self: center;
 }
h2{
    font-size: 25px;
    /* flex-shrink: 1; */
}

#side-bar{
    display: flex;
    /* flex-basis: content; */
    /* flex:0 1 0; */
    gap: 6em;
    order:3;
}

#side-bar-color{
    display: flex;
    flex-direction: column;
    /* flex:0 1 0; */
}
#main-container{
    display:flex;
    border: solid 2px black;
    width: 45vh;
    height: fit-content;
    background-color: white;
    margin-top: 1em;
    flex: 0 1 0;
    aspect-ratio: 1/1;
    order: 2;
    align-self: center;
    
    
}

.row{
    display:flex;
    flex-wrap:wrap;
    flex:1 1 auto;
    
}

.cell{
    flex:1;
    flex-basis:100%;
    /* outline:solid 1px black; */
    aspect-ratio: 1 / 1;
    
}


#color-box{
    display:flex;
    align-items: center;
    gap: 1em;
    height: max-content;
    /* flex: 0 1 0; */
    
}
#color-show{
    border: solid 2px black;
    background-color: black;
    /* flex-shrink: 1; */
    width:2em;
    aspect-ratio: 1 /1;
}

p{
    margin: 0;
    /* flex-shrink: 1; */
    font-size: 1vw;
}

button{
    border-radius: 10px;
    font-family: inherit;
    background-color: hsl(208, 27%, 37%);
    color:rgb(189, 216, 216);
    margin-top: 1em;
}

input{
    width: 15vw;
    height: 3vh;
    /* flex-shrink: 1; */
}