*{
    /* outline: solid 1px red; */

} 

body,html{
    padding:0;
    margin:0;
    max-height: 100vh;
    width: 100%;
    
}

#full-page{
    display: flex;
    flex-direction: column;
    max-height:100vh;
    align-items: center;
    justify-content:space-between;
    
    
}
#header{
display:flex;
align-items: center;
justify-content: center;
}
 h1{
    margin: 1em 0 0 0;
 }
#side-bar{
    display: flex;
    flex-basis: content;
    gap: 7em;
}

#side-bar-color{
    display: flex;
    flex-direction: column;
}
#main-container{
    display:flex;
    border: solid 2px black;
    width: 60vw;
    height: fit-content;
    margin-top: 2em;
    
    
    aspect-ratio: 1/1;
    
    
}

.row{
    display:flex;
    flex-wrap:wrap;
    flex:1 1 auto;
    
}

.cell{
    flex:1;
    flex-basis:100%;
    outline:solid 1px black;
    aspect-ratio: 1 / 1;
    
}


#color-box{
    display:flex;
    align-items: center;
    gap: 1em;
    height: max-content;
    
}
#color-show{
    border: solid 2px black;
    flex-shrink: 1;
    width:2em;
    aspect-ratio: 1 /1;
}

p{
    margin: 0;
}